<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>938747580179-mok54hhgaol2rnmsn7mo1ufqmed6po3b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.938747580179-mok54hhgaol2rnmsn7mo1ufqmed6po3b</string>
	<key>API_KEY</key>
	<string>AIzaSyCDVGscXhQyO9Fu7jzaVWCU0o6YGaaUU1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>938747580179</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chattie</string>
	<key>PROJECT_ID</key>
	<string>dummy-10daa</string>
	<key>STORAGE_BUCKET</key>
	<string>dummy-10daa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:938747580179:ios:f8709c4d338ae4fae214e6</string>
</dict>
</plist>